<div class="banner">
  <div class="banner-content">
    <h1>RESTAURANTS REVIEWS</h1>
    <p>Easily add reviews on your favorites restaurants !</p>
    <a href="application" class= "btn btn-primary">Start now</a>
  </div>
</div>
